<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LAYOUT</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <p>Header</p>
      </div>
      <div class="body">
        <div class="first">
          <div class="content1">Content A</div>
          <div class="content2">Content B</div>
          <div class="content3">Content C</div>
          <div class="content4">Content D</div>
        </div>
        <div class="second">
            <div class="content5">Content E</div>
            <div class="content6">Content F</div>
            <div class="content7">CG</div>
        </div>
        <div class="third">
            <div class="content8">Content H</div>
            <div class="content9">Content K</div>
        </div>
      </div>
      <div class="footer">
        <p>&copy; Copyright M</p>
      </div>
    </div>
  </body>
</html>
