*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    /* background-color: gray; */
}
.header{
    height: 10%;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}
.head-cont{
    height: 100%;
    background-color: aqua;
    width: 100%;
}
.second{
    height: 65%;
    width: 100%;
    background-color: gray;
}
.third{
    height: 15%;
    width: 100%;
    height: 25%;
    padding-left: 8%;
    padding-right: 8%;
}
.third-cont-one{
    height: 80%;
    width: 100%;
    background-color: rgb(109, 133, 197);
}
.third-cont-two{
    height: 20%;
    width: 100%;
    background-color: rgb(38, 172, 137);
}
.fourth{
    height: 120%;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    
}
.fourth-cont{
    height: 100%;
    width: 100%;
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap;
}
.fourth-cont-child{
    height: 23em;
    width: 25.5em;
    padding: 1em;
}
.child-content-one{
width: 100%;
height: 80%;
background-color: rgb(119, 217, 119);
}
.child-content-two{
width: 100%;
height: 20%;
background-color: rgb(26, 83, 120);
}
.fifth{
    height: 50%;
    width: 100%;
    background-color: #000;
}